---
import Salchipapas from '@assets/imagesOfSpecialties/salchipapas.webp'
import Hamburguesas from '@assets/imagesOfSpecialties/hamburguesas.webp'
import PerrosCalientes from '@assets/imagesOfSpecialties/perroscalientes.webp'
import Sandwiches from '@assets/imagesOfSpecialties/sandwiches.webp'
import Bebidas from '@assets/imagesOfSpecialties/bebidas.webp'

import LinkBuy from '@components/LinkBuy.astro'

const specialties = [
  {
    name: 'Salchipapas',
    image: Salchipapas.src,
    price: '6.000 - 34.000',
    href: 'especialidad-salchipapas',
  },
  {
    name: 'Hamburguesas',
    image: Hamburguesas.src,
    price: '10.000 - 34.000',
    href: 'especialidad-hamburguesas',
  },
  {
    name: 'Perros Calientes',
    image: PerrosCalientes.src,
    price: '8.500 - 34.000',
    href: 'especialidad-perros-calientes',
  },
  {
    name: 'Sandwiches',
    image: Sandwiches.src,
    price: '10.000 - 34.000',
    href: 'especialidad-sandwiches',
  },
  {
    name: 'Bebidas',
    image: Bebidas.src,
    price: '2.500 - 34.000',
    href: 'especialidad-bebidas',
  },
]
---

<section
  class='p-2 max-w-7xl mx-auto'
  id='specialties'
>
  <h2 class='text-center text-2xl font-bold mb-4'>ESPECIALIDADES</h2>

  <div class='relative container-specialties'>
    {
      specialties.map(({ name, image, price, href }: any) => (
        <article class='rounded-md shadow-md relative overflow-hidden'>
          <img
            src={image}
            alt={name}
            class='w-full h-full object-cover relative'
          />

          <div class='absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-t from-black/70 from-[1%] via-transparent to-transparent flex items-end p-2'>
            <div class='w-full flex items-center justify-between'>
              <div>
                <h3 class='text-white text-lg font-bold'>{name}</h3>
                <p class='text-white text-sm '>$ {price}</p>
              </div>

              <LinkBuy
                href={`/buy-online#${href}`}
                styles='flex'
                value='Ordena'
              />
            </div>
          </div>
        </article>
      ))
    }
  </div>
</section>

<style>
  .container-specialties {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 10px;
  }

  /* img::after {
    content: '';
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000000, transparent);
  } */
</style>
